@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<div class="container-fluid product-container" style="height:62vh">
    <div class="container align-content-center " style="width: 75%">

        <h1>@ViewData["Title"]</h1>
        </div>
</div>