@using System
@using System.Xml


@model Campgrounds

    <style>
        .product-container {
            margin-top: 100px;
            margin-bottom: 100px;
        }
    </style>

    <div class="container-fluid">
        <div class="container" style="width:75%">
            <div class="product-container">

                @{var campId = "50032"; }
                Check out this campsite!
                <a class="navbar-brand" asp-area="" asp-route-campId=@campId asp-controller="CampsiteDetail" asp-action="Index">Campsite Detail</a>


                @using (Html.BeginForm("Index", "Campgrounds", FormMethod.Post))
                {
                    <b>Select State: </b>

                    @Html.DropDownList("SelectState", new SelectList(Enum.GetValues(typeof(Campgrounds.States))), "--Select State--")
                    <input type="submit" value="submit" />
                }
                </div>
            </div>
    </div>