@using System
@using System.Xml
@model Campgrounds
@using Glamp.Models;


<style>

    .ddmenu {
        display: flex;
       
    }
    .ddselect {  
        float: left;
        padding: 5px;
        text-align:center;
    }
    

</style>
    <div class="form-group ddmenu" >
        
        <form asp-controller="Campgrounds" asp-action="Index" method="post">
            <div class="ddselect text-light">
               
                <select class="custom-select" asp-items="@(new SelectList(Enum.GetValues(typeof(DropDownMenu.States))))" asp-for="selectState"></select>
            </div>
            <div class="ddselect text-light">
                
                <select class="custom-select" asp-items="@(new SelectList(Model.activityDictionary, "Value", "Key"))" asp-for="selectActivity  "></select>
            </div>
            <div class="ddselect">
                <input class="ddselect btn btn-success" type="submit" value="Submit" />
            </div>
            <div class="ddselect">
                <a href="#list" class="btn btn-success" onclick="toggle_visibility('list')">List View</a>
            </div>
        </form>
        </div>
        
