
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Glamper</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Your custom styles (optional) -->

    <link href="~/css/style.css" rel="stylesheet">

   @* <link rel="stylesheet" href="~/css/site.css" />*@
    <!-- Google Maps -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsf1kKrPRT7FKL_aLtVkL0RBrZhIJm69o&callback=initMap&libraries=&v=weekly" defer></script>

</head>
<body>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">
                <!-- Brand -->

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Glamper</a>
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-light" asp-area="" asp-controller="Campgrounds" asp-action="Index">Home</a>
                            <span class="sr-only">(current)</span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Campgrounds" asp-action="Index">Campgrounds</a>
                        </li>
                        @{
                            var user = Context.User.Identity.Name;
                        }
                        @if (user != null)

                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Favorites" asp-action="Index">Favorite</a>
                            </li>
                        }

                    </ul>



                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">

                        <li class="nav-item">

                            <partial name="_LoginPartial" />
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
        <!--End Nav-->
        <!--Main layout-->
        <div class="my-main">

            @RenderBody()

            <!--Footer-->

        </div>
        <footer class="page-footer text-center font-small ">

            <div class="pb-4 text-light ">
                <hr >
                Plan your perfect get away!
            </div>

            <!--Copyright-->
            <div class="footer-copyright py-3 text-light red-outline">


                &copy; 2020 - Glamper.io - <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>


            </div>

            <!--/.Copyright-->
        </footer>
    </div>

    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>

    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>



    @*<script src="@Url.Content("~/Scripts/jquery.min.js")"></script>*@

    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
