
@model Reviews
@using System.Web

@using System
@using System.Xml

@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@{
}



<tr>

    <td>@Model.Title </td>
    

    <td>
        @Model.Description 

    </td>
</tr>